---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-bars" id="nav-bar-icon"></a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        
        <div class="homebanner-img-1">
            <div class="homebanner-text-1">
                <h1>HORSES</h1>
            </div>
        </div>
        
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                    <p>{{ site.footer.github }}</p>
                </section>
                <section class="buttons-galleries">
                    <a id="link-gallery" href="index.html" style="background-color:#424243;">Home</a>
                    <a id="link-gallery" href="horses.html">Horses</a>
                    <a id="link-gallery" href="nature.html">Nature</a>
                    <a id="link-gallery" href="landscape.html">Landscape</a>
                    <a id="link-gallery" href="entertainment.html">Entertainment</a>
                    <a id="link-gallery" href="people.html">People</a>
                </section>
                <br>
                <section>
                    <h2></h2>
                    <ul class="icons">
                        {% if site.social_urls.github %}
                            <li>
                                <a href="{{ site.social_urls.github }}" class="icon fa-github">
                                    <span class="label">GitHub</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.twitter %}
                            <li>
                                <a href="{{ site.social_urls.twitter }}" class="icon fa-twitter">
                                    <span class="label">Twitter</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.instagram %}
                            <li>
                                <a href="{{ site.social_urls.instagram }}" class="icon fa-instagram">
                                    <span class="label">Instagram</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.linkedin %}
                            <li>
                                <a href="{{ site.social_urls.linkedin }}" class="icon fa-linkedin">
                                    <span class="label">LinkedIn</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </section>
                <p class="copyright">
                    &copy; {{ site.author }}
                </p>
            </div>
        </div>
    </footer>
</div>
